.App {
  text-align: center;
  
}
body
{
  background-color:#f9f9f9;
}
.toaddlabel
{
    padding-top:2%; 
    color: black;
    font-size: 1.5em;
    font-weight: lighter;
}
.header-label
{
    font-weight: lighter;
    padding: 2%;
}


.content-header {
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 200;
  color: #FF5722;
  padding: 2% 0%;
}

.content-sub-header {
  font-size: 1.6rem;
  font-style: bold;
  text-align: center;
  padding: 2% 0%;
}

.center-content {
  align-content: center;
}

.center-items{
  align-items: center;
}
.table {
  margin: 2% 0%;
}
.justify-center
{
  justify-content: center;
}
.internalLink{
  color: #FF5722;
  cursor: pointer;
  text-decoration: none;
  
}
.internalLink:hover{
    text-decoration: none;
    color: #FF5722;
  }

.item-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}