.timer-label{
    background-color: transparent;
    border: 0;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    width: 50%;
}

.timer-item{
    display: flex;
    flex-direction: column;
    flex-basis: 8%;
    padding: 25px;
}

.timer-component-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #dc1667;
    border-radius: 50%;
    height: 518px;
    width: 534px;
}

.main-container-overlay{
    border: 3px solid white;
    border-radius: 50%;
    height: 518px;
    width: 534px;
}

.timer-label-container{
    width:100%;
}

#stop-btn{
    width: 100%;
    align-items: center;
}

#stop-icon{
    background-color: #dc1568;
    padding: 2%;
    border-radius: 50%;
}
