.autoSuggestBox{
    list-style: none;
    position: absolute;
    padding: 2%;
    box-shadow: 0px 8px 7px 4px #e8e8e8;
    background-color: white;
    z-index: 10;
    width: 50%;
    text-align: left;
    cursor: pointer;
}

.autoSuggestBoxItem{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    text-align: start;
}
.autoSuggestBoxItem:hover{
    background-color: #efefef;
}

.autoSuggestDiv{
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.searchBarInput{
    width: 50%;
}

.searchBar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
}