.videoControls{
    position: relative;
    display: flex;
    bottom: 50px;
    padding: 2%;
}

.hideControls{
    visibility: hidden;
    transition: all 1s ease-in-out;
}
.showControls{
    visibility: visible;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.82) 0, rgba(0, 0, 0, 0.1) 100%);
    transition: all 1s ease-in-out;
}
.videoOverlay{
    position: relative;
    justify-content: center;
    display: flex;
    bottom: 170px;
    padding: 2%;
}
/* 
.videoPlayerContainer{
    width: 100%;
}

.videoPlayerComponent{
    width: 75%;
    position: relative;
    overflow: hidden;
    height: 50%;
} */