.videoControls{
    position: relative;
    display: flex;
    bottom: 50px;
    padding: 2%;
}

.hideControls{
    visibility: hidden;
    transition: all 1s ease-in-out;
}
.showControls{
    visibility: visible;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.82) 0, rgba(0, 0, 0, 0.1) 100%);
    transition: all 1s ease-in-out;
}