.App {
  text-align: center;
  
}
body
{
  background-color:#f9f9f9;
}
.toaddlabel
{
    padding-top:2%; 
    color: black;
    font-size: 1.5em;
    font-weight: lighter;
}
.header-label
{
    font-weight: lighter;
    padding: 2%;
}